.messageContainer {
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px 20px;
    border-radius: 17px;
    width: max-content;
    font-size: 120%;
    margin: 5px;
    max-width: 310px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    color: white;
}

.usersMessageContainer {
    align-self: flex-end;
    align-items: flex-end;
}

.othersMessageContainer {
    align-self: flex-start;
    align-items: flex-start;
}

.usersMessageContainer .senderName {
    margin-right: 15px;
    color: gray;
}

.othersMessageContainer .senderName {
    margin-left: 15px;
    color: gray;
}

.usersMessageContainer .message {
    background-color: #1976d2;
}

.othersMessageContainer .message {
    background-color: #4c4c4c;
}
