.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    max-width: 60%;
}

.groupedMessage {
    margin-top: 2px;
}

/* message text bubble */
.messageText {
    padding: 8px 12px;
    border-radius: 17px;
    width: fit-content;
    font-size: clamp(14px, 2vw, 18px);
    margin: 2px 5px;
    color: white;
}

.usersMessage {
    align-self: flex-end;
    align-items: flex-end;
}

.othersMessage {
    align-self: flex-start;
    align-items: flex-start;
}

.usersMessage .senderName {
    margin-right: 15px;
    margin-bottom: 4px;
    margin-top: 8px;
    color: gray;
    font-size: 13px;
}

.othersMessage .senderName {
    margin-left: 15px;
    margin-bottom: 4px;
    margin-top: 8px;
    color: gray;
    font-size: 13px;
}

.usersMessage .messageText {
    background-color: #1976d2;
}

.othersMessage .messageText {
    background-color: #4c4c4c;
}

/* timestamp styling */
.messageTimestamp {
    font-size: 11px;
    color: #999;
    margin: 2px 15px 4px;
}

.usersMessage .messageTimestamp {
    text-align: right;
}

.othersMessage .messageTimestamp {
    text-align: left;
}
