.messageContainer {
    display: flex;
    flex-direction: column;
}

/* dynamic width */
.message {
    padding: 10px 15px;
    border-radius: 17px;
    width: fit-content;
    min-width: 40px;
    font-size: clamp(14px, 2vw, 18px);
    margin: 5px;
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    color: white;
}

.usersMessageContainer {
    align-self: flex-end;
    align-items: flex-end;
}

.othersMessageContainer {
    align-self: flex-start;
    align-items: flex-start;
}

.usersMessageContainer .senderName {
    margin-right: 15px;
    color: gray;
}

.othersMessageContainer .senderName {
    margin-left: 15px;
    color: gray;
}

.usersMessageContainer .message {
    background-color: #1976d2;
}

.othersMessageContainer .message {
    background-color: #4c4c4c;
}
